
    <footer class="container text-center">
        Created by McTech. © 2021
        
    </footer>
    
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="js-files/typed.js"></script>
    <script>
        AOS.init();
      </script>
    <script>
      var typed = new Typed(".typed", {
        strings: ["Software developer.", "Dancer",],
        typeSpeed: 50,
        backSpeed: 50,
        loop:true
      });
    </script>
</body>
</html>