<div class="about container text-center shadow-lg p-3 mb-5 rounded">
  <div class="about-img" data-aos="fade-up" data-aos-offset="300"
  data-aos-easing="ease-in-sine">
    <img src="img/pic1.jpg" alt="" class="container about-img" />
  </div>
  <div class="about-me">
    <h6>McTech</h6>
    <h1>ABOUT ME</h1>
    <P data-aos="fade-up" data-aos-offset="300"
    data-aos-easing="ease-in-sine">
      I am Ghanaian by birth, i grew up in Ghana, Accra and the only male son
      of my parent. I'm currently living in the the United Stated, New York, im
      a computer science major, i'm in my junior year and also love trying new
      things out. I'm always trying to make life easy for myself, especially
      when im dealing with problem solving that's why i chose software engineer
      as major. i have passion and a lot of interest in programming and problem
      solving . i have developed different skills over the years which will
      guarantee me sucess in the career path i have chosen. my journey as a
      Software Engineer has just began</P
    >
    <button class="learn-more">LEARN MORE</button>
  </div>
</div>
