<div class="container " id="contact-link">
  <div class="h-form mb-4 text-center">GET IN TOUCH</div>
  <div class="contact-div" >
    <div class="contacts">
      <div class="contact-info text-center">
        <div class="number center">
          <i class="fas fa-phone-volume"></i>
          <p>Phone Number</p>
          <p>347-784-4261</p>
        </div>
        <div class="email center">
          <p class="p-email"></p>
          <i class="fas fa-envelope-open-text"></i>
          <p>Email</p>
          <p>Robertquartey7@gmail.com</p>
        </div>
  
        <div class="address center">
          <i class="fas fa-globe-asia"></i>
          <p>Address</p>
          <p>United States, New York</p>
        </div>
      </div>
    </div>
    <div class="contact-form">
     
      <form action="/contact">
        <div class="mb-3">
          <label for="fullName" class="form-label">Full name</label>
          <input type="text" name="fullName" id="fullName" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" name="email" id="email" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="msg" class="form-label">Message</label>
          <textarea
            name="msg"
            id="msg"
            cols="30"
            rows="10"
            class="form-control"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary ">Submit</button>
      </form>
    </div>
  </div>
</div>
