<nav class="navbar ">
  <div class="container">
    <div class="navbar-brand navbar">
      <a href="/"><img src="img/McTech.svg" alt="McTech" class="mctech" /></a>
    </div>
    <div class="toggle-button">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
    <div class="navbar menu">
      <a href="/" class="nav-link under">HOME</a>
      <a href="#about-link" class="nav-link under">ABOUT</a>
      <a href="/project" class="nav-link under">PROJECT</a>
      <a href="#contact-link" class="nav-link under">CONTACT ME</a>
    </div>
  </div>
</nav>
