<div class="skill container">
  <div class="h-skill fs-1 under">SKILLS</div>
  <div class="programming-language">
    <img src="img/lang/C++.svg" alt="" class="skills-img grow" />
    <img src="img/lang/flask.svg" alt="" class="skills-img grow" />
    <img src="img/lang/java.svg" alt="" class="skills-img grow" />
    <img src="img/lang/javascript.svg" alt="" class="skills-img grow" />
    <img src="img/lang/php.svg" alt="" class="skills-img grow" />
    <img src="img/lang/python.svg" alt="" class="skills-img grow" />
  </div>
</div>
